*{
    box-sizing: border-box;
}
.clearfix{
     clear:both;
}
body{
    background-color: grey;
    margin: 0;
}
.topbar{
    padding-bottom: 10px;
    background-color: black;
    width: 100%;
}
.container{
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
}
.header{
    text-align:center;
    margin: 0px;
}
.div1{
    float:left;
    width:20%;
    text-decoration: none;   
} 
.div2{
    float:left;
    width:20%;
    text-decoration: none;
} 
.div3{
    float:left;
    width:20%;
    text-decoration: none;
} 
.div4{
    float:left;
    width:20%;
    text-decoration: none;
} 
.div5{
    float:left;
    width:20%;
    text-decoration: none;
} 
.center{
    text-align: center;
    font-size: 3rem;
}
.space{
    color: chartreuse;
}
.pic1{
    margin: auto;
    padding-left: 15%;
}
.radio{
    text-align: center;
    padding: 20px;
}
.content1{
   width: 30%;
   height: 50vh;
   background-color: grey;
   margin: 0;
   float:left;
   margin-left:2.5%;
}
.lorem1{
    text-align: center;
    background-color: greenyellow;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.para1{
    margin: 0;
    margin-bottom: 10px;
}
.plus1{
    float: right;
    padding: 10px;
    background-color: chartreuse;
    margin-top: 6%;
}
.content2{
   width: 30%;
   height: 50vh;
   background-color:grey;
   float:left;
   margin-left:2.5%;
}
.lorem2{
    text-align: center;
    background-color: greenyellow;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.para2{
    margin: 0;
    margin-bottom: 10px;
}
.plus2{
    float: right;
    padding: 10px;
    background-color: chartreuse;
    margin-top: 6%;
}

.content3{
   width: 30%;
   height: 50vh;
   background-color:grey;
   float:left;
   margin-left:3%;
}
.lorem3{
    text-align: center;
    background-color: greenyellow;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.para3{
    margin: 0;
    margin-bottom: 10px;
}
.plus3{
    float: right;
    padding: 10px;
    background-color: chartreuse;
    margin-top: 6%;
}
.content4{
    width: 30%;
    height: 40vh;
    padding: 20px;
    text-align: center;
    background-color: grey;
    margin: 0;
    float:left;
    margin-left:2.5%;
 }
 .lorem4{
    text-align: center;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.para4{
    color: black;
    margin: 0;
    margin-bottom: 10px;
}
.last1{
    padding: 2px;
    background-color: black;
    color: chartreuse;
    margin-top: 10px;
    float: left;
}
.content5{
    width: 30%;
    height: 40vh;
    padding: 20px;
    text-align: center;
    background-color: grey;
    margin: 0;
    float:left;
    margin-left:2.5%;
 }
 .lorem5{
    text-align: center;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.para5{
    color: black;
    margin: 0;
    margin-bottom: 10px;
}
.content6{
    width: 30%;
    height: 40vh;
    padding: 20px;
    text-align: center;
    background-color: grey;
    margin: 0;
    float:left;
    margin-left:2.5%;
 }
 .lorem6{
    text-align: center;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.para6{
    color: black;
    margin: 0;
    margin-bottom: 10px;
}
.last2{
    padding: 2px;
    background-color: black;
    color: chartreuse;
    margin-top: 10px;
    float: left;
}
.content7{
    float: left;
    width: 40%;
    height: 20vh;
    background-color: gray;
    margin-left: 5%;
}
.five{
    float: left;
    width: 30%;
    padding: 12.4%;
    margin: 0;
    background-color: darkgreen;
}
.plan1{
    float: right;
    width: 70%;
    margin-top: 0;
}
.content8{
    float: left;
    width: 40%;
    height: 20vh;
    background-color: gray;
    margin-left: 5%;
}
.six{
    float: left;
    width: 30%;
    padding: 12.4%;
    margin: 0;
    background-color: darkgreen;
}
.plan2{
    float: right;
    width: 70%;
    margin-top: 0;
}
.footer{
    text-align: center;
}